.par {color:yellow;}

.nav-link {color: blue;}

.thankyou {color: blue;}
.container {background-color:yellow;}
.paragraph1 {background-color:yellow;}
.footer {color: yellow;}
.container2 {background-color: #e2df2b;}
.container {background-color: coral;}
body {background-color: yellow;}
.row {background-color:yellow;}
.paragraph66 {color:coral;}